<ion-view title="Browse">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
        <ion-tabs class="tabs-dark tabs-icon-top">

            <ion-tab title="Mobile" icon-on="ion-ios7-monitor" icon-off="ion-ios7-monitor-outline">
                <!-- Tab 2 content -->
            </ion-tab>

            <ion-tab title="Cloud" icon-on="ion-ios7-cloud" icon-off="ion-ios7-cloud-outline">
                <!-- Tab 1 content -->
            </ion-tab>

        </ion-tabs>

</ion-view>
